/*** Red & Cube start ***/
.red-cube{
    background: url('../assets/117.png') top 20% left 13% no-repeat;
    .tertiary-heading{
        padding-bottom: 0;
    }
    .block{
        margin-bottom: 0;
        .author{
            padding-top: 8px;
        }
    }
}
/*** Red & Cube end ***/